<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add/Drop Classes</title>
</head>
<body>
    <div class="img2">
        <p style="text-align:center;"><img src="~/Content/addDropH2.jpg" width="900" /></p>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Semester</button>
        <div class="dropdown-content">
            <a href="#">Winter 2019</a>
            <a href="#">Spring/Summer 2019</a>
            <a href="#">Fall 2019</a>
            <a href="#">Winter 2020</a>
        </div>
    </div>
</body>
</html>