<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add/Drop Classes</title>
    <style>
        .img2 {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="img2">
        <p style="text-align:center;"><img src="~/Content/addDropH2.jpg" width="900" /></p>
    </div>
</body>
</html>