<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Schedule</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/view.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/calendar_green.css" />
    <script src="~/Scripts/daypilot-all.min.js" type="text/javascript"></script>
    @model ClassScheduling.Models.Student
</head>
<body>
    <div class="img2">
        <img src="~/Content/Images/viewH2.jpg" />
    </div>
    <div class="dropdown">
        <button class="dropbtn">Semester</button>
        <div class="dropdown-content">
            <a href="#">Winter 2019</a>
            <a href="#">Spring/Summer 2019</a>
            <a href="#">Fall 2019</a>
            <a href="#">Winter 2020</a>
        </div>
    </div><br>
    <div class="classList">
    </div><br>
    <div id="dp">
        <script type="text/javascript">
          var dp = new DayPilot.Calendar("dp");
          dp.viewType = "Week";
          dp.theme = "calendar_green";
          dp.init();
        </script>
    </div>
</body>
</html>