<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Information</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/info.css" />
</head>
<body>
    <div class="img2">
        <p style="text-align:center;"><img src="~/Content/Images/infoH2.jpg" width="900" /></p>
    </div>
</body>
</html>