body {
}

input {
    height: auto;
    font-size: 25px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    font-size: 30px;
}

li {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

#menuButton {
    float: right;
    margin: 40px 18.5% 0 0;
    background-color: #C8C6C6;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}

#menuButton:hover {
    background-color: #8B8B8B;
}

#stForm {
    max-width: 75%;
    height: auto;
    width: auto\9;
    margin: 0 auto 0 auto;
}
