<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class Scheduling</title>
    <style>
        img {
            max-width: 100%;
            height: auto;
            width: auto\9;
        }
    </style>
</head>
<body>
    <div>
        @{Html.RenderPartial("_DavenportHeader");}
        @RenderBody()
    </div>
</body>
</html>
