<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class Scheduling</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/dropdown.js"></script>
</head>
<body>
    <div>
        @{Html.RenderPartial("_DavenportHeader"); }
        @RenderBody()
    </div>
</body>
</html>
